.image-slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}

.image-item img {
  width: 220px;
   height: auto;   /* giữ đúng tỉ lệ gốc */
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}



/* Mobile: dưới 768px */
@media (max-width: 768px) {
  .image-slider {
    flex-wrap: wrap;        /* Cho phép tự xuống hàng */
    justify-content: center;
    gap: 15px;
  }

  .image-item img {
    width: 60%;             /* hiển thị 2 ảnh mỗi hàng */
    max-width: 180px;
  }
}


