.image-slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}

.image-item img {
  width: 220px;
   height: auto;   /* giữ đúng tỉ lệ gốc */
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}



