.image-slider {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  
}

.image-item img {
  width: 220px;
   height: auto;   /* giữ đúng tỉ lệ gốc */
  display: block;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease-in-out;
}



 /* Mobile responsive */
@media (max-width: 768px) {
  .image-item img {
    width: 45%;  /* mỗi ảnh chiếm gần nửa màn hình */
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .image-item img {
    width: 90%; /* gần full màn hình trên điện thoại nhỏ */
    margin-bottom: 10px;
  }
}